<%= form_for(@gpm_search) do |f| %>
  <% if @gpm_search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gpm_search.errors.count, "error") %> prohibited this gpm_search from being saved:</h2>

      <ul>
      <% @gpm_search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <%= f.label :player_id, "Player Id" %>
    <%= f.text_field :player_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
