<p id="notice"><%= notice %></p>

<h1>Player ID: <%= params[:id] %></h1>
<hr>

<div>Showing 50 results:</div>

<table id='data-table' class='table table-bordered table-hover'>
  <thead>
    <th>Match ID</th>
    <th>Hero</th>
    <th>GPM</th>
    <th>Days Ago</th>
    <th>Game Duration</th>
  </thead>

  <% @stats.each do |game| %>
    <% if game[:match_id].present? %>
      <% if game[:hero].present? %> 
        <tr>
          <td><a href="http://www.dotabuff.com/matches/<%= game[:match_id] %>"><%= game[:match_id] %></a></td>
          <td><%= game[:hero] %></td>
          <td><%= game[:gold_per_minute] %></td>
          <td><%= game[:days_ago] %></td>
          <td><%= game[:duration_in_minutes] %></td>
        </tr>
      <% else %>
        <tr>
          <td>Something goofed loading match <%= game[:match_id] %> </td>
        <tr>  
      <% end %>
    <% else %>
      <tr>
        <td>Something goofed loading match</td>
      <tr>
    <% end %> 
  <% end %>

</table>
